@charset "UTF-8";
/*
***重置样式***
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
pre,
hr,
table,
th,
td,
form,
input,
button,
textarea {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
iframe {
  border: 0;
}
i,
em {
  font-style: normal;
}
li,
ul,
ol {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
textarea {
  overflow: auto;
  resize: none;
}
label {
  cursor: default;
}
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
a,
a:hover,
a:active {
  color: #333;
  text-decoration: none;
}
input,
textarea,
button {
  background: none;
  border: none;
  outline: none;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
/*select{-webkit-appearance:none; appearance:none;}*/

/*
***全局公共样式***
*/
html {
  font-size: 62.5%;
}
body {
  font-size: 14px;
  font-size: 1.4rem;
  color: #333;
  margin: 0 auto;
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
}
/*浮动*/
.fl,
.lt {
  float: left;
}
.fr,
.rt {
  float: right;
}
/*清除浮动*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clear {
  clear: both;
}

/*placeholder 颜色*/
:-moz-placeholder {
  color: #666;
}
::-moz-placeholder {
  color: #666;
}
input:-ms-input-placeholder {
  color: #666;
}
input::-webkit-input-placeholder {
  color: #666;
}

/*
***主体宽度***
*/
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.el-aside,
.el-main {
  padding: 10px;
}
.el-aside .aside,
.el-main .main_content {
  background: #fff;
  min-height: 200px;
  box-shadow: 0 0 8px #e2e2e2;
  border-radius: 5px;
  padding: 10px;
}

@media (max-width: 1200px) {
  .wrap {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .wrap {
    width: 96%;
  }
}
